.Header {
    display: flex;
    justify-content: space-between;
}

.DashBoard {
    font-size: 26px;
}

@media (max-width: 425px) {

    .DashBoard {
        font-size: 22px;
        padding-left: 20px;
        padding-top: 30px;
        margin-bottom: 5px;
    }

    .Login {
        padding-right: 5px;
        padding-top: 10px;
        font-size: 12px;
        width: 90px;
    }
}